<header class="topbar">
  <a class="brand" href="/">
    <span class="brand__mark">P</span>
    <span>PerformanceOS</span>
  </a>

  <% if authenticated? %>
    <nav class="nav-links" aria-label="Primary">
      <%= link_to "Today", root_path %>
      <%= link_to "Workouts", workout_templates_path %>
      <%= link_to "Training targets", exercise_prescriptions_path %>
      <%= link_to "Nutrition", nutrition_path %>
      <%= link_to "Weekly review", weekly_review_path %>
      <%= link_to "Log workout", new_workout_session_path, class: "nav-links__primary" %>
      <%= button_to "Sign out", session_path, method: :delete, class: "nav-links__button" %>
    </nav>
  <% end %>
</header>
